footer {
    background-color: #212121;
    padding: 50px 0 0;
    color: $lightColor;
    .footer-item {
        h2 {
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
    .list-unstyled {
        padding: 0;
    }
    .contact-us {
        li {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
            svg {
                margin-left: 10px;
            }
            a {
                color: $lightColor;
            }
        }
        .social-media-footer {
            a {
                width: 35px;
                height: 35px;
                display: inline-block;
                text-align: center;
                line-height: 35px;
                margin-left: 20px;
                background-color: $mainColor;
                transition: all 0.3s ease-in-out;
                &:hover {
                    background-color: $lightColor;
                    color: $mainColor
                }
                svg {
                    margin: 0;
                }
            }
        }
    }
    .about-us-footer {
        p {
            svg {
                margin-right: 10px;
            }
            &.time {
                color: #777;
            }
        }
        .offer-service {
           a {
                @extend .main-button;
           }
        }
    }
    .news-letter {
        form {
            input[type="email"] {
                width: 250px;
                height: 38px;
                background-color: #333;
                border: none;
                color: #FFF;
                padding: 10px 20px;
            }
            input[type="submit"] {
                background-color: $mainColor;
                transition: all 0.3s ease-in-out;
                border-radius: 0;
                color: $lightColor;
                border-color: transparent;
                margin-top: -3px;
                &:hover {
                    background-color: #212121;
                    border-color: $mainColor;
                }
            }
        }
    }
    .col-12 {
        @media #{$maxSmall} {
            margin-bottom: 40px;
        }
    }
    .copyright {
        padding: 25px 0 !important;
        background-color: #252525;
        margin-top: 50px;
        @media #{$maxSmall} {
            margin-top: 0
        }
        p {
            margin: 0
        }
    }
}