.gallary {
    padding: 70px 0;
    .gallary-item {
        height: 100%;
        a {
            &:first-child {
                display: block;
                height: 100%;
            }
        }
    }
    .full {
        min-height: 634px;
        @media #{$maxSmall} {
            min-height: 301px;
        }
        > div:last-child {
            min-height: 634px;
            @media #{$maxSmall} {
                min-height: 301px;
            }
        }
    }
    .half {
        min-height: 301px;
        margin-bottom: 30px;
        > div:last-child {
            min-height: 301px;
            @media #{$maxSmall} {
                min-height: 301px;
            }
        }
    }
    .half2 {
        min-height: 301px;
        > div:last-child {
            min-height: 301px;
            @media #{$maxSmall} {
                min-height: 301px;
            }
        }
    }
    .full, .half, .half2 {
        background-size: cover;
        position: relative;
        box-shadow: 10px 10px 10px #DDD;
        > div:last-child {
            display: flex;
            align-items: flex-end;
            background-image: linear-gradient(transparent, black);
        }
    }   
        
    .full:hover .overlay-effect, .half:hover .overlay-effect, .half2:hover .overlay-effect {
        opacity: 1;
        cursor: pointer;
    }
        
    .overlay-effect {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(232,195,28, 0.7);
        overflow:hidden
    }
        
    .full a,
    .half a,
    .half2 a {
        color: #fff;
        text-shadow: 3px 3px 3px #000;
    }
        
    .full h3,
    .half h3,
    .half2 h3 {
        padding: 15px 30px;
    }
        
    @media screen and (max-width: 768px) {
        .full, .half, .half2 {margin-bottom: 10px;}
    }
}