@import "helpers/variables";
@import "helpers/classes";
@import "helpers/mixins";
@import "components/buttons";
@import "components/animations";
@import "components/scroll-top-button";
@import "layouts/navbar";
@import "sections/header";
@import "sections/next_event";
@import "sections/services";
@import "sections/our_numbers";
@import "sections/gallary";
@import "sections/clients";
@import "layouts/footer";


/* =====[Start: Global rules]===== */
body {
    overflow-x: hidden;
    direction: rtl;
    text-align: right;
    @media #{$maxSmall} {
        overflow-x: hidden;
    }
}
*, h1, h2, h3, h4, h5, h6 {
    font-family: 'Cairo', sans-serif;
}
a {
    text-decoration: none !important;
}
.google-map {
    margin-top: 70px;
    iframe {
        width: 100%;
        max-height: 300px;
        margin-bottom: -6px;
    }
}
canvas{ 
    display: block; 
    vertical-align: bottom; 
} 
#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100%;
    background-image: url(""); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50% 50%; 
    z-index: 8;
}
.modal-backdrop {
   z-index: 0 !important;
}
/* =====[End: Global rules]===== */
